<div class="p-20">
  <div class="mb-10">
    <h4 class="text-6xl">Free Trial</h4>
    <p class="space-grotesk text-ternary">Book your session Now</p>
  </div>

  <form action="">
    <div
      class="space-grotesk grid grid-cols-1 md:grid-cols-2 gap-x-40 gap-y-10"
    >
      <div>
        <Label class="main-label">First Name:</Label>
        <input
          type="text"
          placeholder="Enter Your First Name..."
          class="main-control mt-2"
        />
      </div>
      <div>
        <Label class="main-label">Last Name:</Label>
        <input
          type="text"
          placeholder="Enter Your Last Name..."
          class="main-control mt-2"
        />
      </div>
      <div>
        <Label class="main-label">Email:</Label>
        <input
          type="email"
          placeholder="Enter Your Email..."
          class="main-control mt-2"
        />
      </div>
      <div>
        <Label class="main-label">Phone Number:</Label>
        <input
          type="tel"
          placeholder="Enter Your Phone Number..."
          class="main-control mt-2"
        />
      </div>
      <div>
        <Label class="main-label">Your Country:</Label>
        <select name="" id="" class="main-control mt-2">
          <option value="" selected>Please Select Your Country</option>
        </select>
      </div>
    </div>
  </form>
  <div
    class="space-grotesk grid grid-cols-1 md:grid-cols-2 gap-x-40 gap-y-10 mt-10"
  >
    <div>
      <div class="my-3">
        <label class="main-label">Your Study Plan:</label>
        <div class="flex items-center gap-20">
          <label for="">
            <input type="radio" name="plan" id="" />
            30 Minutes
          </label>
          <label for="">
            <input type="radio" name="plan" id="" />
            45 Minutes
          </label>
          <label for="">
            <input type="radio" name="plan" id="" />
            60 Minutes
          </label>
        </div>
      </div>
      <div class="my-10">
        <label class="main-label">Number of students:</label>
        <div class="flex items-center gap-20">
          <label for="">
            <input type="radio" name="plan" id="" />
            1 Student
          </label>
          <label for="">
            <input type="radio" name="plan" id="" />
            2 Student
          </label>
          <label for="">
            <input type="radio" name="plan" id="" />
            3 Student
          </label>
        </div>
      </div>
    </div>
    <div>
      <div class="my-10">
        <label class="main-label">Students Ages:</label>
        <div class="flex items-center gap-20">
          <label for="">
            <input type="checkbox" name="plan" id="" />
            1 ~ 10
          </label>
          <label for="">
            <input type="checkbox" name="plan" id="" />
            10 ~ 18
          </label>
          <label for="">
            <input type="checkbox" name="plan" id="" />
            +18
          </label>
        </div>
      </div>
      <div class="my-10">
        <h3>Study Plan:</h3>
        <div class="flex items-center gap-20">
          <label for="">
            <input type="checkbox" name="plan" id="" />
            Arabic
          </label>
          <label for="">
            <input type="checkbox" name="plan" id="" />
            Quraan
          </label>
          <label for="">
            <input type="checkbox" name="plan" id="" />
            Islamic
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-10">
    <button class="secondry-button">Sumblit Now</button>
  </div>
</div>
