.howitwork.animate .step {
  animation-name: animateApear;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
.step {
  opacity: 0;
}
.step1 {
  animation-delay: 0s;
}
.step2 {
  animation-delay: 1s;
}
.step3 {
  animation-delay: 2s;
}
