/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Space+Grotesk:wght@300..700&display=swap");
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Start Tailwind */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #001b30;
  --color-secondary: #f5f0ea;
  --color-ternary: #bb9437;
  --color-secoundry-blue: #789aa7;
}

* {
  transition: 150ms;
}

/* :root {
    --primary-color: #f5f0ea;
    --secondry-color: #001b30;
    --text-color-trnary: #bb9437;
    --text-color-primary: #001b30;
}
.dark {
    --primary-color: #001b30;
    --secondry-color: #f5f0ea;
    --text-color-primary: #f5f0ea;
} */
/* End Tailwind */

/* Start Fonts */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* End Fonts */

/* Start Components */
.main-button {
  padding: 10px 20px;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.main-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, transparent, #001b30);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 150ms;
  z-index: -1; /* Important: behind text */
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.main-button:hover::before {
  width: 70%;
}

/* End Components */
