.box {
  background: url(/assets/bg.jpg);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.country {
  position: absolute;
  bottom: 0;
  right: -15%;
}
