<div class="bg-secondary dark:bg-primary shadow-2xl">
  <div class="py-20 box relative z-20 rounded-2xl overflow-hidden">
    <div class="lg:px-10 mx-auto">
      <div
        class="overlay absolute w-full h-full top-0 left-0 bg-white opacity-90 -z-10"
      ></div>
      <div
        class="heading mx-auto z-30 text-primary text-center flex flex-col justify-evenly"
      >
        <h1 class="lg:text-5xl mg:text-4xl text-3xl px-10" appSlideUp>
          Voices from Every <br />
          Corner of the
          <span class="text-ternary"> World</span>
        </h1>
        <p
          appSlideUp
          class="text-sm md:text-lg space-grotesk text-text-blue mt-5 px-2 w-1/2 mx-auto text-center"
        >
          Live your dream like our students
        </p>
        <div class="grid grid-cols-4 justify-between items-start relative">
          <div
            class="text-start col-span-1 flex flex-col md:justify-evenly justify-center h-full"
            appSlideUp
          >
            <div class="flex justify-around items-center mb-10">
              <div class="relative w-12 mx-2 mt-10">
                <img src="assets\voices\v2.png" alt="img1" loading="lazy" />
              </div>
              <div class="relative w-36 mx-2">
                <img src="assets\voices\v1.png" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\us.png"
                  alt="us"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
            </div>
            <div class="flex justify-around items-start">
              <div class="relative w-24 mx-2 -mt-5">
                <img src="assets\voices\v4.jpg" alt="img1" loading="lazy" />
              </div>
              <div class="relative w-36 mx-2">
                <img src="assets\voices\v5.jpg" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\uk.png"
                  alt="uk"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
            </div>
          </div>
          <div class="col-span-2" appSlideUp>
            <div
              class="space-grotesk mt-10 mb-2 text-xs md:text-sm lg:text-lg min-h-[150px] md:min-h-[100px] fade-text"
              [class.fade]="isFading()"
              appSlideUp
            >
              <p>
                <q>{{ student().Comment }}</q>
              </p>

              <p class="text-ternary">
                {{ student().Name + ", " + student().Location }}
              </p>
              <div class="text-xl md:text-2xl lg:text-4xl text-ternary mt-5">
                @for (star of [].constructor(fullStars); track $index) {
                <i class="fa-solid fa-star"></i>
                }

                <!-- HALF STAR -->
                @if (hasHalfStar) {
                <i class="fa-solid fa-star-half-stroke"></i>
                }

                <!-- EMPTY STARS -->
                @for (star of [].constructor(emptyStars); track $index) {
                <i class="fa-regular fa-star"></i>
                }
              </div>
            </div>
            <div class="mt-2 flex justify-between items-center">
              <div class="relative w-24 mx-2">
                <img src="assets\voices\v3.jpg" alt="img1" loading="lazy" />
              </div>
              <div class="relative w-24 mx-2">
                <img src="assets\voices\v9.jpg" alt="img1" loading="lazy" />
              </div>
            </div>
            <button class="main-button mt-4">Join Now</button>

            <div class="flex justify-evenly items-center md:mt-5 mt-2">
              <div class="relative w-36 mx-2">
                <img src="assets\voices\v6.jpg" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\ca.png"
                  alt="ca"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
              <div class="relative w-36 mt-10 mx-2">
                <img src="assets\voices\v7.jpg" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\uk.png"
                  alt="uk"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
              <div class="relative w-36 mx-2">
                <img src="assets\voices\v8.jpg" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\aust.png"
                  alt="us"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
            </div>
          </div>
          <div
            class="text-start col-span-1 flex flex-col md:justify-evenly justify-center h-full"
            appSlideUp
          >
            <div class="flex justify-around items-center mb-10">
              <div class="relative w-36 mx-2">
                <img src="assets\voices\v10.jpg" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\aus.png"
                  alt="aus"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
              <div class="relative w-12 mx-2 mt-10">
                <img src="assets\voices\v12.png" alt="img1" loading="lazy" />
              </div>
            </div>
            <div class="flex justify-around items-start">
              <div class="relative w-36 mx-2">
                <img src="assets\voices\v11.jpg" alt="img1" loading="lazy" />
                <img
                  src="assets\contries\us.png"
                  alt="aust"
                  loading="lazy"
                  class="country hidden md:inline-block"
                />
              </div>
              <div class="relative w-24 mx-2 -mt-5">
                <img src="assets\voices\v13.png" alt="img1" loading="lazy" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
