<div class="landing relative h-screen w-full">
  <img
    src="assets/bg4.png"
    alt="Background"
    class="h-full w-full lg:block hidden"
  />

  <div
    class="lg:absolute lg:w-1/2 h-full bg-secondary dark:bg-zinc-900 p-10 lg:top-0 lg:left-0 opacity-85 flex flex-col justify-center items-start"
  >
    <!-- Left Overlay -->
    <div class="relative text lg:w-1/2 text-primary dark:text-secondary">
      <h3 class="text-6xl leading-snug mb-2">
        Learn the Words of Allah Wherever You Are.
      </h3>
      <p class="space-grotesk">
        Learn to recite the Quran correctly from the very first letter. Perfect
        for beginners and those who wish to refresh their reading. Master the
        rules of recitation step-by-step with native teachers who simplify
        complex topics beautifully.       
      </p>
      <div class="mt-10">
        <button
          class="text-3xl bg-primary hover:bg-secondary rounded-2xl text-ternary px-10 py-4 border-ternary border-double hover:border dark:bg-secondary dark:hover:bg-primary"
        >
          <a href="#Free">free trail lesson</a>
        </button>
      </div>
    </div>
  </div>
  <!-- Center Image -->
  <div
    class="absolute top-1/2 right-1/2 translate-x-1/2 -translate-y-1/2 w-1/3 h-3/4 z-10 overflow-hidden border-ternary border-8 rounded-2xl hidden lg:flex justify-center items-center"
  >
    <img
      src="assets/quran.png"
      alt="Background"
      class="h-full w-full"
      loading="lazy"
    />
  </div>
  <!-- Right Overlay -->
  <div
    class="lg:absolute w-1/2 h-full bg-primary dark:bg-secondary lg:top-0 lg:right-0 opacity-85 lg:flex flex-col justify-center items-end hidden"
  >
    <div
      class="relative h-full help text p-16 dark:text-primary text-secondary flex items-center"
    >
      <p
        class="text-ternary"
        style="
          font-size: 25rem;
          font-family: serif;
          transform: scaleY(1.2);
          line-height: 0.9;
        "
      >
        1
      </p>
      <div class="flex items-center absolute bottom-10 -left-20">
        <img src="assets/landing-image1.png" class="h-28 me-6" alt="image" />
        <img src="assets/langing-image2.png" class="h-28 me-6" alt="image" />
      </div>
    </div>
  </div>
</div>
