<footer
  class="py-2 px-10 bg-secondary dark:bg-primary text-primary dark:text-secondary"
>
  <div
    class="grid grid-cols-1 lg:grid-cols-4 items-center justify-center py-10 border-b border-primary dark:border-secondary"
  >
    <div
      class="grid-cols-1 flex items-center justify-start lg:justify-end lg:pe-10 mb-5 -ms-5 lg:m-0"
    >
      <div class="basis-1/4">
        <img [src]="logoPath()" alt="logo" />
      </div>
      <div class="dark:text-ternary">
        Different tongues, one <br />heart the Quran <br />speaks to everyone
      </div>
    </div>
    <div class="grid-cols-1">
      <ul>
        <li class="mb-3">Home</li>
        <li class="mb-3">Our Courses</li>
        <li class="mb-3">Pricing Plan</li>
      </ul>
    </div>
    <div class="grid-cols-1">
      <ul>
        <li class="mb-3">About Us</li>
        <li class="mb-3">Contact Us</li>
        <li class="mb-3">Testimoials</li>
        <li class="mb-3">FAQ's</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="grid-cols-1">
      <h4 class="dark:text-ternary">
        Join Our Quran <br />
        Learning Community
      </h4>
      <p class="mt-3 w-3/5 space-grotesk">
        Receive gentle reminders, new courses, and spiritual insights right to
        your inbox.
      </p>
      <div class="mt-3">
        <a class="secondry-button" href="#Free">Free Trail Lesson</a>
      </div>
    </div>
  </div>

  <div class="py-5 flex flex-col md:flex-row justify-between items-center">
    <span class="space-grotesk text-[#d9cbc2]"
      >© 2025 Jumaa Academy. All rights reserved.</span
    >

    <app-footer-icons class="flex items-center justify-end mt-4 md:mt-0 me-2" />
  </div>
</footer>
