<div class="bg-secondary dark:bg-primary">
  <div
    class="join min-h-screen flex flex-col justify-center items-center text-center text-white dark:text-black rounded-2xl overflow-hidden bg-white"
    [style.background-image]="sectionBackground()"
  >
    <h1 class="text-8xl mb-20"> Join the Journey</h1>
    <p class="mb-16 space-grotesk text-2xl">
      Ready to begin your journey with the Quran? <br />
      Take your first free lesson today and experience the difference.
    </p>
    <div class="mb-12">
      <button
        class="px-10 py-3 rounded-2xl text-text-blue bg-secondary dark:bg-black hover:bg-transparent border-2 border-double border-text-blue dark:border-black dark:text-ternary2 cursor-pointer transition"
      >
        Free trial lesson
      </button>
    </div>
    <span class="text-sm space-grotesk"
      >No credit card required, just your passion to learn</span
    >
  </div>
</div>
