<div class="py-28 bg-secondary dark:bg-primary">
  <div
    class="cards grid grid-cols-1 md:grid-cols-2 justify-center items-center md:px-40 px-5 z-20 relative after:content-[''] after:absolute after:h-1/2 after:w-full after:bg-primary dark:after:bg-secondary after:-z-10"
  >
    <div
      class="card bg-primary md:mt-[70px] min-h-[550px] col-span-1 bg-[url(/assets/bg11.png)] bg-center bg-cover"
    ></div>
    <div
      class="card flex flex-col justify-center text-primary bg-white md:mb-[150px] min-h-[550px] p-10 col-span-1 bg-[url(/assets/bg10.png)] bg-center bg-cover"
    >
      <h1 class="text-6xl text-center">Our Mission & Vision</h1>
      <h5 class="text-2xl my-6">Our Mission:</h5>
      <p class="text-sm">
        To connect non-Arabic speakers to the words of Allah through
        personalized, interactive, and spiritual learning.
      </p>
      <h5 class="text-2xl my-6">Our Vision:</h5>
      <p class="text-sm">
        A world where everyone can read, understand, and live by the Quran with
        love and confidence.
      </p>
    </div>
  </div>
</div>
