<div
  class="landing relative min-h-screen w-full flex flex-col lg:flex-row justify-center"
>
  <div
    class="bg-secondary dark:bg-zinc-900 opacity-85 flex flex-col justify-center items-start basis-1/2 pb-56 md:pb-20 pt-20 px-10 min-h-screen"
  >
    <!-- Left Overlay -->
    <div
      class="relative text lg:w-1/2 text-primary dark:text-secondary flex flex-col justify-center"
    >
      <h3
        class="text-3xl text-center md:text-start lg:text-5xl leading-snug mb-2"
      >
        Learn the Words of Allah Wherever You Are.
      </h3>
      <p class="space-grotesk text-center md:text-start">
        Learn to recite the Quran correctly from the very first letter. Perfect
        for beginners and those who wish to refresh their reading. Master the
        rules of recitation step-by-step with native teachers who simplify
        complex topics beautifully.
      </p>
      <div class="mt-10 text-center md:text-start">
        <button
          class="text-xl md:text-2xl bg-primary hover:bg-secondary rounded-2xl text-ternary px-6 py-4 border-ternary border-double hover:border dark:bg-secondary dark:hover:bg-primary"
        >
          <a href="#Free">free trail lesson</a>
        </button>
      </div>
    </div>
  </div>
  <!-- Right Overlay -->
  <div
    class="bg-primary dark:bg-secondary dark:text-primary text-secondary opacity-85 flex lg:flex-col lg:justify-end justify-between items-end basis-1/2 md:pt-56 pt-20 pb-5 min-h-screen"
  >
    <span
      class="text-ternary"
      style="
        font-size: 25rem;
        font-family: serif;
        transform: scaleY(1.2);
        line-height: 0.9;
      "
    >
      1
    </span>
    <div class="flex mt-26">
      <img
        src="assets/landing-image1.png"
        class="h-16 lg:h-28 me-6"
        alt="image"
      />
      <img
        src="assets/langing-image2.png"
        class="h-16 lg:h-28 me-6"
        alt="image"
      />
    </div>
  </div>

  <!-- Center Image -->
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 overflow-hidden border-ternary border-8 rounded-2xl flex justify-center items-center w-3/5 md:w-auto md:h-1/4 lg:h-1/2"
  >
    <img
      src="assets/quran.png"
      alt="Background"
      class="h-full w-full"
      loading="lazy"
    />
  </div>
</div>
