<div class="py-16 md:px-10 px-3 bg-secondary dark:bg-primary text-center">
  <h1 class="text-primary md:text-6xl text-3xl dark:text-secondary">
    Choose the plan <br />that suits You
  </h1>
  <div
    class="flex flex-col md:flex-row items-center gap-5 mt-12 mx-2 md:w-3/4 md:mx-auto"
  >
    <div
      class="plan bg-secondary dark:bg-primary text-center shadow-2xl px-5 pt-5 pb-16 rounded-2xl text-ternary2 text-xl"
    >
      <div class="plan-detail py-5">
        <p>Advanced Plan</p>
        <p>4 lessons per week</p>
      </div>
      <div class="plan-price py-5">
        <span class="text-5xl">$X</span> per month
      </div>
      <ul
        class="py-5 ps-7 list-disc text-start space-grotesk md:text-xl text-lg"
      >
        <li>Free trial lesson</li>
        <li>Flexible scheduling</li>
        <li>Recorded sessions on request</li>
        <li>One-on-one personalized feedback</li>
      </ul>
    </div>
    <div
      class="plan bg-secondary dark:bg-primary text-center shadow-2xl px-5 pt-5 pb-16 rounded-2xl text-ternary2 md:-mb-16 text-xl"
    >
      <div class="plan-detail py-5">
        <p>Advanced Plan</p>
        <p>4 lessons per week</p>
      </div>
      <div class="plan-price py-5">
        <span class="text-5xl">$X</span> per month
      </div>
      <ul
        class="py-5 ps-7 list-disc text-start space-grotesk md:text-xl text-lg"
      >
        <li>Free trial lesson</li>
        <li>Flexible scheduling</li>
        <li>Recorded sessions on request</li>
        <li>One-on-one personalized feedback</li>
      </ul>
    </div>
    <div
      class="plan bg-secondary dark:bg-primary text-center shadow-2xl px-5 pt-5 pb-16 rounded-2xl text-ternary2 text-xl"
    >
      <div class="plan-detail py-5">
        <p>Advanced Plan</p>
        <p>4 lessons per week</p>
      </div>
      <div class="plan-price py-5">
        <span class="text-5xl">$X</span> per month
      </div>
      <ul
        class="py-5 ps-7 list-disc text-start space-grotesk md:text-xl text-lg"
      >
        <li>Free trial lesson</li>
        <li>Flexible scheduling</li>
        <li>Recorded sessions on request</li>
        <li>One-on-one personalized feedback</li>
      </ul>
    </div>
  </div>
  <div class="text-center mt-20">
    <button class="main-button">View All Plans</button>
  </div>
</div>
